.tabs {
	display: flex;
	border: 1px solid black;
	width: fit-content;
}

button {
	padding: 6px 8px;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: #c2c2c2;
	color: #000;
	transition: background-color .3s ease;
}

button:hover {
	background-color: #f9f9f9;
}

.content {
	display: none;
	background-color: #222;
	color: #fff;
	padding: 1em;
	width: fit-content;
}

.hidden {
	display: none;
}